<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hr.dao.Cm_department_employeeMapper">
	<resultMap id="BaseResultMap" type="hr.model.Cm_department_employeeKey">
		<id column="department_id" property="departmentId" jdbcType="VARCHAR" />
		<id column="employee_id" property="employeeId" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteByPrimaryKey" >
		delete from cm_department_employee
		where department_id = #{departmentId,jdbcType=VARCHAR}
		and employee_id = #{employeeId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" >
		insert into cm_department_employee
		values (#{departmentId,jdbcType=VARCHAR}, #{employeeId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="hr.model.Cm_department_employeeKey">
		insert into cm_department_employee
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="departmentId != null">
				department_id,
			</if>
			<if test="employeeId != null">
				employee_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="departmentId != null">
				#{departmentId,jdbcType=VARCHAR},
			</if>
			<if test="employeeId != null">
				#{employeeId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>